# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
/vendor/*

# Built artifacts
/lstags
/dist/*

# Temporary "scratch" directory
/tmp/*

# log & pid files
/*.log
/*.pid
/*.success

# docker.json [with credentials]
/docker.json

# coverage reports
*.coverprofile

# dummy config.yaml for development and manual testing
/config.yaml
